.entitiesBodyHeaderContainer {
  background-color: white !important;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.entitiesBodyHeaderWrapper, .entitiesBodyWrapper {
  max-width: 1000px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.entitiesCompleteButtonContainer{
  display: flex;
}

.entitiesCompleteButton {
  display: inline-block;
  font-size: 16px;
  color: #666666;
  padding: 3px 10px 3px 10px;
  margin: 0 auto 10px auto;
  border: 1px solid lightgrey;
  border-radius: 4px;
  transition: border 0.2s ease 0s, color 0.2s ease 0s;
  height: 24.6px;
  background-color: transparent;
}

.entitiesCompleteButton:hover {
  border-color: black;
  color: black;
}

.entitiesDetailsBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.entitiesContainer {
  display: flex;
  flex-direction: column;
}

.entity h3 {
  margin-top: 0;
}

.activeEntitiesWrapper, .inactiveEntitiesWrapper {
  display: inline-block
}

.entity {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 5px;
  max-width: 600px;
  background-color: white;
}

.entitiesStatusUpdateButton, .entitiesRemoveButton {
  display: inline-block;
  font-size: 16px;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 4px;
  transition: border 0.2s ease 0s, color 0.2s ease 0s;
  height: 24.6px;
  background-color: transparent;
}

.entitiesStatusUpdateButton:hover, .entitiesRemoveButton:hover {
  border: 1px solid black;
}

.entitiesButtonContainer {
  display: flex;
  justify-content: space-between;
}