.clientsBodyHeaderContainer, .clientsBodyContainer {
  background-color: white !important;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.clientsBodyHeaderWrapper, .clientsBodyWrapper {
  max-width: 1000px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clientsBodyHeader, .clientsBody {
  width: 100%;
  max-width: 1000px;
}
