.innerNavContainer {
  background-color: white;
}

.navUl {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}

.navButtonLi {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 6px 0 6px;
  font-size: 16px;
  color: #666666
}

.navButton:hover {
  color: black;
}

.navContainer {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.whiteBackground {
  background-color: white;
}

.innerNavContainer, .innerHeaderContainer{ 
  max-width: 1000px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}